<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Busino - {% block title %}{{this.title}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/vendor/bootstrap_customized/css/bootstrap.min.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="{{ '/static/images/icon.png'|url }}">
</head>